:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --Dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --White: hsl(0, 0%, 100%);
  --prg-white: hsla(0, 0%, 100%, 0.75);
  --hdgn-white: hsla(0, 0%, 100%, 0.6);

  --inter: "Inter", sans-serif;
  --lexend: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
  font-family: var(--inter);
  color: var(--White);
  font-size: 0.938rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 85%;
  overflow: hidden;
  border-radius: 14px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--Dark-blue);
  padding: 4rem;
}

.text-section h1 {
  font-size: 2.5em;
}

.text-section > p {
  max-width: 22rem;
  margin-top: 2rem;
  color: var(--prg-white);
  font-weight: lighter;
  line-height: 1.5rem;
}

.insights {
  color: var(--soft-violet);
}

.stats {
  display: flex;
  justify-content: space-between;
  max-width: 22rem;
  margin-top: 5rem;
  line-height: 2em;
}

.stats div p,
.stats div:nth-child(3) {
  text-transform: uppercase;
}

.stats div p {
  font-family: var(--lexend);
  color: var(--hdgn-white);
  font-size: 0.8em;
  font-weight: lighter;
  letter-spacing: 0.05rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.image {
  background-color: var(--soft-violet);
}

@media (max-width: 62rem) {
  main {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-block: 5rem;
  }

  .text-section {
    padding: 3rem;
    align-items: center;
  }

  .text-section h1 {
    font-size: 2em;
  }

  .text-section > p {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .stats {
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
  }

  .stats div:not(:last-child) {
    margin-bottom: 2rem;
  }

  .image img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
}
